<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Recipe</key>
	<array>
		<dict>
			<key>Direction</key>
			<string>Combine yogurt, mayonnaise, pepper and salt in a medium bowl. Halve eggs and discard 4 of the yolks (or save for another use). Add whites and the remaining 4 yolks to the bowl and mash to desired consistency. Gently stir in carrot, cucumber and scallions.
To hard-boil eggs, place eggs in a single layer in a saucepan; cover with water. Bring to a simmer over medium-high heat. Reduce heat to low and cook at the barest simmer for 10 minutes. Remove from heat, pour out hot water and cover the eggs with ice-cold water. Let stand until cool enough to handle before peeling.</string>
			<key>Ingredients</key>
			<string>3 tablespoons nonfat plain yogurt 3 tablespoons reduced-fat mayonnaise ¼ teaspoon freshly ground pepper ⅛ teaspoon salt 8 hard-boiled eggs (see Tip) ½ cup finely chopped carrot ½ cup chopped cucumber, peeled and seeded if desired ¼ cup sliced scallions</string>
			<key>Name</key>
			<string>Veggie Egg Salad</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>Mash beans, salsa, jalapeno and cumin in a small bowl. Mash avocado, onion and lime juice in another small bowl. Cut baguette into 4 equal lengths. Split each piece in half horizontally. Pull out most of the soft bread from the center so you&apos;re left with mostly crust. Divide the bean paste, avocado mixture and cabbage evenly among the sandwiches. Cut each in half and serve.
Make Ahead Tip: Cover and refrigerate the bean mixture (Step 1) for up to 3 days.
Note: While we love the convenience of canned beans, they tend to be high in sodium. Give them a good rinse before adding to a recipe to rid them of some of their sodium (up to 35 percent) or opt for low-sodium or no-salt-added varieties. (This recipe is analyzed with rinsed, regular canned beans.) Or, if you have the time, cook your own beans from scratch.</string>
			<key>Ingredients</key>
			<string>15-ounce can black beans, or pinto beans, rinsed (see Note) 3 tablespoons prepared salsa 1 tablespoon chopped pickled jalapeño ½ teaspoon ground cumin 1 ripe avocado, pitted 2 tablespoons minced onion 1 tablespoon lime juice 1 16- to 20-inch-long baguette, preferably whole-grain 1⅓ cups shredded green cabbage</string>
			<key>Name</key>
			<string>Tijuana Torta</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>Toss chickpeas, cucumber, tomato, olives, feta, parsley, oil and vinegar together in a medium bowl. Pack in a medium-sized container. Place turkey (or chicken) in a medium container. Pack grapes and pita in small containers and hummus in a dip-size container</string>
			<key>Ingredients</key>
			<string>¼ cup chickpeas, rinsed ¼ cup diced cucumber ¼ cup diced tomato 1 tablespoon diced olives 1 tablespoon crumbled feta cheese 1 tablespoon chopped fresh parsley ½ teaspoon extra-virgin olive oil 1 teaspoon red-wine vinegar 3 ounces grilled turkey breast tenderloin or chicken breast 1 cup grapes 1 whole-wheat pita bread, quartered 2 tablespoons hummus</string>
			<key>Name</key>
			<string>Mediterranean Bento</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>Start by arranging the spinach leaves on a serving platter. Drizzle half the dressing over the spinach and toss to coat.
Arrange the chicken slices and the chopped bacon in the center of the platter. Then place the cherry tomatoes on one side and the avocado slices on the other side.
Now place the egg slices next to the avocado and the blue cheese next to the tomatoes.
Drizzle the remaining dressing on top of the salad and serve.</string>
			<key>Ingredients</key>
			<string>For the dressing: olive oil, vinegar, mayonnaise, Dijon, salt and pepper, garlic powder
Sliced hard-boiled eggs
Crispy bacon, chopped
Cooked chicken breast, sliced
Fresh spinach
Cherry tomatoes
Haas avocado, sliced
Crumbled blue cheese</string>
			<key>Name</key>
			<string>Chicken Cobb Salad</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>Cook the noodles, drain well, then toss with a drizzle sesame oil. Finely slice the mangetout, cut the carrot into matchsticks and deseed and slice the red chilli. Add to the noodles with the toasted sesame seeds and some shredded cooked chicken, if you have it. Pack with a small portion of soy sauce.</string>
			<key>Ingredients</key>
			<string>85g bundle soba or buckwheat
 noodles
drizzle of sesame oil
8 mangetout
1 small carrot
½ red chilli
1 tbsp toasted sesame seeds
handful shredded cooked chicken
soy sauce</string>
			<key>Name</key>
			<string>Chicken Soba Noodles</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>Cook the quinoa following pack instructions, then set aside to cool. Make the dressing by adding the olive oil, vinegar, lemon juice, vanilla extract, rice syrup, pinch of salt and garlic into a jug and whisk until smooth. Mix this into the quinoa and mix together with all the other ingredients. Serve on a bed of salad leaves.</string>
			<key>Ingredients</key>
			<string>100g dried quinoa
75g parsley
, roughly chopped
300g tomatoes
, cut into 1cm dice (no need to remove the seeds)
100g cucumber, cut into small dice
For the dressing
1 tbsp olive oil
2 tbsp balsamic vinegar
juice and zest ½ lemon
drop of vanilla extract
1 tsp rice syrup
 or agave
pinch of Himalayan pink salt
½ garlic clove, crushed
50g salad leaves to serve</string>
			<key>Name</key>
			<string>Quinoa Bowl</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>Heat the oil in a large, lidded frying pan. Cook the onion over a high heat for a few mins, then stir in the curry powder, ginger and garlic. Cook for another 1-2 mins until fragrant, then stir in the tomatoes, chickpeas and some seasoning. </string>
			<key>Name</key>
			<string>Curried Cod</string>
			<key>Ingredients</key>
			<string>1 tbsp oil
1 onion
, chopped
2 tbsp medium curry powder
thumb-sized piece ginger
, peeled and finely grated
3 garlic cloves, crushed
2 x 400g cans chopped tomatoes
400g can chickpeas
4 cod
 fillets (about 125-150g each)
zest 1 lemon
, then cut into wedges
handful coriander, roughly chopped</string>
		</dict>
	</array>
</dict>
</plist>
